<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MakisBar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/makisbarStyle.css"/>
        <script src="/js/uikit.min.js"></script>
        <script src="/js/uikit-icons.min.js"></script>
    </head>
    <body class="uk-background-cover" style="background-image: url(resources/makis.jpg);">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="" class="uk-navbar-item uk-logo makis-logo">MakisBar</a>
            </div>
        </nav>
        <div class="uk-container">
            
        </div>
    </body>
</html>